@media screen and (max-width: 120rem) {
    * {
        box-sizing: border-box;
    }

    body {
    max-width: 120rem;
    
    margin: 0;
    
    }
}


@media screen and (max-width: 68.75rem) {
    * {
        box-sizing: border-box;
    }
    body {
        max-width: 68.75rem;
        max-width: 100%;
    }
        
    header {
        display: none;
    } 

    .section_battery_belt_power {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10rem;
        padding-left: 7rem;
        padding-right: 7rem;
        background: #FBF7F3;
    }
    .move_with_impact {
        background: 100%;
        background: url('../images/Rectangle2.jpg')
    }
    .ride img {
        display: none;
    }

    .ride {
        display: flex;
        flex-direction: column;
        background: #FBF7F3;
    }
    .built_to_move_img {
        display: none;
    }
    .ride_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
}
